@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Rubik", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--fw-regular: 400;
	--fw-bold: 700;
	--fw-black: 900;

	--color-bg: var(--color-gray-100);
	--color-bg2: var(--color-gray-50);
	--color-fg: var(--color-gray-700);
	--color-fg2: var(--color-gray-600);
	--color-primary: var(--color-fg);
	--color-link: var(--color-fg);
	--color-focus: var(--color-red);
	--color-mark: var(--color-pink-dark);
	--color-selection: var(--color-bg2);
	--color-border: var(--color-fg2);
	--color-button-bg: var(--color-fg2);
	--color-button-fg: var(--color-bg);
	--color-button-hover: var(--color-fg);
	--color-input-bg: var(--color-bg);
	--color-input-fg: var(--color-fg);
	--color-placeholder: var(--color-fg);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
@media screen and (prefers-color-scheme:dark) {
	:root {
	--color-bg: var(--color-gray-900);
	--color-bg2: var(--color-black);
	--color-fg: var(--color-gray-100);
	--color-fg2: var(--color-gray-300);
	--color-primary: var(--color-fg);
	--color-link: var(--color-fg);
	--color-focus: var(--color-red);
	--color-mark: var(--color-pink);
	--color-selection: var(--color-bg2);
	--color-border: var(--color-fg2);
	--color-button-bg: var(--color-fg);
	--color-button-fg: var(--color-bg);
	--color-button-hover: var(--color-fg2);
	--color-input-bg: var(--color-fg);
	--color-input-fg: var(--color-bg);
	--color-placeholder: var(--color-fg);
	}
}

.light {
	--color-bg: var(--color-gray-100);
	--color-bg2: var(--color-gray-50);
	--color-fg: var(--color-gray-700);
	--color-fg2: var(--color-gray-600);
	--color-primary: var(--color-fg);
	--color-link: var(--color-fg);
	--color-focus: var(--color-red);
	--color-mark: var(--color-pink-dark);
	--color-selection: var(--color-bg2);
	--color-border: var(--color-fg2);
	--color-button-bg: var(--color-fg);
	--color-button-fg: var(--color-bg);
	--color-button-hover: var(--color-fg2);
	--color-input-bg: var(--color-bg);
	--color-input-fg: var(--color-fg);
	--color-placeholder: var(--color-fg);
}

.dark {
	--color-bg: var(--color-gray-900);
	--color-bg2: var(--color-black);
	--color-fg: var(--color-gray-100);
	--color-fg2: var(--color-gray-300);
	--color-primary: var(--color-fg);
	--color-link: var(--color-fg);
	--color-focus: var(--color-red);
	--color-mark: var(--color-pink);
	--color-selection: var(--color-bg2);
	--color-border: var(--color-fg2);
	--color-button-bg: var(--color-fg);
	--color-button-fg: var(--color-bg);
	--color-button-hover: var(--color-fg2);
	--color-input-bg: var(--color-fg);
	--color-input-fg: var(--color-bg);
	--color-placeholder: var(--color-fg);
}

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

html, body, body > div {
    height: 100%;
    overflow: hidden;
}

main {
	height: 100%;
	overflow: hidden;
	position: relative;
}

button {
	line-height: 1;
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}

button.icon {
	padding: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: relative;
}

button.icon:before {
	content: attr(data-before);
	display: block;
	position: absolute;
	top: 50%;
	right: calc(100% + 8px);
	white-space: nowrap;
	color: var(--color-button-bg);
	transform: translate(0, 67%);
	transition: all 0.25s ease-in-out;
	opacity: 0;
	pointer-events: none;
}

button.icon:after {
	content: attr(data-after);
	display: block;
	position: absolute;
	top: 50%;
	left: calc(100% + 8px);
	white-space: nowrap;
	color: var(--color-button-bg);
	transform: translate(0, -50%);
	transition: all 0.25s ease-in-out;
	pointer-events: none;
}

button.icon:hover:after {
	opacity: 0;
	transform: translate(0, 67%);
}

button.icon:hover:before {
	opacity: 1;
	transform: translate(0, -50%);
}


button svg {
	display: inline-block;
}

a svg {
	display: block;
}

.artist a svg path:nth-child(1) {
	fill: var(--color-fg2);
}

.artist a svg path:nth-child(2) {
	fill: var(--color-bg);
}

h1 {
	font-weight: 400;
}